# Database MySQL Connection
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="mysql://user_db:password_db@localhost:3306/nama_database"

# NextAuth / JWT Secret (Wajib diganti dengan string acak rahasia minimal 32 karakter di production)
NEXTAUTH_SECRET="ganti-dengan-string-rahasia-acak-minimal-32-karakter"
NEXTAUTH_URL="https://domainanda.com"

# Node Environment
NODE_ENV="production"
