# Database PostgreSQL Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tokohp_db?schema=public"

# NextAuth / Auth.js
NEXTAUTH_SECRET="replace-with-a-secure-random-string"
NEXTAUTH_URL="http://localhost:3000"
