# Database MySQL Connection
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="mysql://user_db:password_db@localhost:3306/nama_database"

# NextAuth / JWT Secret (Wajib diganti dengan string acak rahasia minimal 32 karakter di production)
NEXTAUTH_SECRET="ganti-dengan-string-rahasia-acak-minimal-32-karakter"
NEXTAUTH_URL="https://domainanda.com"

# Node Environment
NODE_ENV="production"

# Web Push Notification (VAPID Keys)
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BNMo1SNJZBVZvoJzibg2b3aCLWHP6tT--q6tnWOkfOfuKc33AgS7JTVOwkaj074okVgRJ5R2ts1Xu3A5Rre1-TQ"
VAPID_PRIVATE_KEY="Nj8sFN_FHSPe9RMdjny80RQKN5KwFxwdqnJ6TMhI9SM"
VAPID_SUBJECT="mailto:admin@gloriaponsel.com"
